// Colours
$core-brand-colour: #ef4641;
$core-brand-secondary-colour: #0c66a1;
$core-light-colour: #ffffff;

// Space
$global-space-small: 0.5rem;
$global-space: 1rem;
$global-space-large: 1.5rem;

// Typography
$text-size-small: 16px;
$text-size-standard: 18px;
$text-size-large: 22px;
